
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-lg-12 page-col-nopadding">
                            <div class="card page-header-title card-title text-uppercase">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4"><span class="pagetitle"><i class="fas fa-users text-success font-size-18"></i>&nbsp; Supplier</span></div>
                                        
                                        <div class="col-lg-8  ">
                                            <div style="float:right !important">
                                               
                                                <button   class="btn btn-secondary dropdown-toggle btn-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                   MORE OPTIONS<i class="mdi mdi-chevron-down"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(-1px, 37px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#" data-target="#addLeave" data-toggle="modal">Create New Leave</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                 
                    
                    <div class="row">
                        <div class="col-lg-5 col-left-nopadding">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="col-form-label">Supplier Type</label>
                                        </div>
                                        <div class="col-lg-5">
                                           <select class="form-control">
                                               <option>Select Type</option>
                                               <option>Wholesaler</option>
                                           </select>
                                        </div>
                                        <div class="col-lg-3">
                                             <input type="text" class="form-control" placeholder="001" readonly  />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="col-form-label">Supplier Name</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">PAN NO</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">TAN NO</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">GST NO</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Contact NO</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Email</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Website</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" placeholder="www.xyz.com"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="row margin-top">
                                        <div class="col-lg-12">
                                            <h5 class="card-title"><i class="fas fa-filter "> </i> ADDRESS</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <select class="form-control">
                                                <option>Select Country</option>
                                                <option   *ngFor="let c of countries; let i = index" value={{c.id}}>{{c.countryName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <select class="form-control">
                                                <option>Select State</option>
                                                <option>Karnataka</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4">
                                            <select class="form-control">
                                                <option>Select City</option>
                                                <option>Bangalore</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="col-form-label">Address</label>
                                        </div>
                                        <div class="col-lg-12">
                                             <textarea class="form-control" style="height:50px !important" ></textarea>
                                        </div>
                                    </div>
                                    <div class="row margin-top">
                                        <div class="col-lg-12">
                                            <h5 class="card-title"><i class="fas fa-rupee-sign  "> </i> BANK DETAILS</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Account Name</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Account Number</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control"   />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">IFSC Code</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-12"><label class="col-form-label">Bank Name</label></div>
                                                <div class="col-lg-12">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                     
                                    <div class="row margin-top">
                                        <div class="col-lg-4">
                                            <label class="col-form-label">Status</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <select class="form-control">
                                                <option>Active</option>
                                                <option>Deactive</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row" style="margin-bottom:25px"></div>
                                    <div class="row  ">
                                        <div class="col-lg-12 text-sm-right ">
                                            <button class="btn w-sm  btn-warning waves-effect waves-light">
                                                <i class="bx bx-revision  align-middle mr-1 font-size-18"></i><b>Reset</b>
                                            </button>
                                            <button   class="btn w-sm btn-success waves-effect waves-light">
                                                <i class="bx bx-check-double    align-middle mr-1 font-size-18"></i><b> Save Supplier</b>
                                            </button>
                                          
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                            

                        </div>

                        <div class="col-lg-7 page-col-nopadding">
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-secondary status-padding">
                                        <div class="row" style="">
                                            <div class="col-lg-9 ">
                                                <button class="btn btn-info btn-sm  waves-effect waves-light m-1">{{totalRows}}</button>
                                            </div>
                                            
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 table-responsive">
                                            <table class="table   mb-0  table-centred">
                                                <thead>
                                                    <tr class="thead-light">  
                                                        <th>SUPPLIER NAME</th> 
                                                        <th>CODE</th> 
                                                        <th>LOCATION</th>
                                                        <th>CONTACT NO</th>
                                                        <th class="text-center">STATUS</th>
                                                        <th   class="text-center">ACTION</th>  

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr  *ngFor="let sup of suppliersFilteredList; let i = index"> 
                                                        <td>{{sup.supplierName}}/td>
                                                        <td>{{sup.code}}</td>
                                                        <td>{{sup.supplierName}}</td> 
                                                        <td>{{sup.contactNo}}</td>
                                                        <td *ngIf="sup.status" class="text-center">
                                                            <span class="badge badge-pill badge-success">Active</span>
                                                        </td>
                                                        
                                                        <td *ngIf="!sup.status" class="text-center">
                                                            <span class="badge badge-pill badge-danger">Deactive</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" (click)="updateForm(sup.id)" class="action-icon text-success"> <i class="far fa-edit  font-size-14"></i></a>
                                                            <a href="#" (click)="deleteForm(sup.id)"  class="action-icon text-danger"> <i class=" bx bxs-trash font-size-14"></i></a>
                                                        </td>
                                                    </tr>
                                                     
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                      
                                </div>
                            </div> 
                        </div>
                    </div>





                </div>
                <!-- container-fluid -->
            </div>