
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-lg-12 page-col-nopadding">
                            <div class="card page-header-title card-title text-uppercase">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4"><span class="pagetitle"><i class="fas fa-users text-success font-size-18"></i>&nbsp; Item Category</span></div>
                                        
                                        <div class="col-lg-8  ">
                                            <div style="float:right !important">
                                                 
                                                <button   class="btn btn-secondary dropdown-toggle btn-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                   MORE OPTIONS<i class="mdi mdi-chevron-down"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(-1px, 37px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#" data-target="#addLeave" data-toggle="modal">Create New Leave</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                 
                    
                    <div class="row">
                        <div class="col-lg-4 col-left-nopadding">
                            <form [formGroup]="itemcategoryForm" (ngSubmit)="submitForm()" class="needs-validation" novalidate>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <label class="col-form-label">Item Category</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <select class="form-control" formControlName="itemGroupId" name="itemGroupId"  [ngClass]="{ 'is-invalid': submitted && f.itemGroupId.errors }">
                                                    <option value="">Select Group</option>
                                                    <option *ngFor="let itemgroup of itemGroups"  value={{itemgroup.id}}>{{itemgroup.name}}</option>
                                                    <!-- <option>Electronics</option> -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <label class="col-form-label">Category Name</label>
                                            </div>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" formControlName="name" name="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="col-form-label">Description</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <textarea formControlName="description" name="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" style="height:70px !important"></textarea>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:7px">
                                            <div class="col-lg-5">
                                                <label class="col-form-label">Status</label>
                                            </div>
                                            <div class="col-lg-5">
                                                <select class="form-control" formControlName="status" name="status" >
                                                    <option [value]=true>Active</option>
                                                    <option [value]=false >Deactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:25px"></div>
                                        <div class="row  ">
                                            <div class="col-lg-12 text-sm-right ">
                                                <button type="button"  class="btn w-sm  btn-warning waves-effect waves-light"  (click)="resetForm()" >
                                                    <i class="bx bx-revision  align-middle mr-1 font-size-18"></i><b>Reset</b>
                                                </button>
                                                <button   type="submit" class="btn w-sm btn-success waves-effect waves-light">
                                                    <i class="bx bx-check-double    align-middle mr-1 font-size-18"></i><b> Save Category</b>
                                                </button>
                                              
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>

                            </form>
                            

                        </div>

                        <div class="col-lg-8 page-col-nopadding">
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-secondary status-padding">
                                        <div class="row">
                                            <div class="col-lg-9 ">
                                                <button class="btn btn-info btn-sm  waves-effect waves-light m-1">{{totalRows}}</button>
                                            </div>
                                            
                                            <div class="col-lg-3">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 table-responsive">
                                            <table class="table   mb-0  table-centred">
                                                <thead>
                                                    <tr class="thead-light">
                                                        
                                                        <th>SNO</th> 
                                                        <th>CATEGORY NAME</th> 
                                                        <th>GROUP NAME</th> 
                                                        <th>DESCRIPTION</th> 
                                                        <th class="text-center">STATUS</th>
                                                        <th   class="text-center">ACTION</th>  

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let itemcategory of itemcategoriesFilteredList; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{itemcategory.name}}</td>
                                                        <td>{{itemcategory.itemGroupId}}</td>
                                                        <td>{{itemcategory.description}}</td> 
                                                        <td *ngIf="itemcategory.status" class="text-center">
                                                            <span class="badge badge-pill badge-success">Active</span>
                                                        </td>
                                                        
                                                        <td *ngIf="!itemcategory.status" class="text-center">
                                                            <span class="badge badge-pill badge-danger">Deactive</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0);" (click)="updateForm(itemcategory.id)"  class="action-icon text-success"> <i class="far fa-edit  font-size-14"></i></a>
                                                            <a href="javascript:void(0);" (click)="deleteForm(itemcategory.id)"  class="action-icon text-danger"> <i class=" bx bxs-trash font-size-14"></i></a>
                                                        </td>
                                                    </tr> 
                                                    <!-- <tr>
                                                        <td>01</td>
                                                        <td>Televesion</td>
                                                        <td>Electronics</td>
                                                        <td>NA</td> 
                                                        <td class="text-center">
                                                            <span class="badge badge-pill badge-success">Active</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" class="action-icon text-success"> <i class="far fa-edit  font-size-14"></i></a>
                                                            <a href="#" class="action-icon text-danger"> <i class=" bx bxs-trash font-size-14"></i></a>
                                                        </td>
                                                    </tr> 
                                                    <tr>
                                                        <td>01</td>
                                                        <td>CCTV</td>
                                                        <td>Electronics</td>
                                                        <td>NA</td>
                                                        <td class="text-center">
                                                            <span class="badge badge-pill badge-danger">Deactive</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" class="action-icon text-success"> <i class="far fa-edit  font-size-14"></i></a>
                                                            <a href="#" class="action-icon text-danger"> <i class=" bx bxs-trash font-size-14"></i></a>
                                                        </td>
                                                    </tr>  -->
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                      
                                </div>
                            </div> 
                        </div>
                    </div>





                </div>
                <!-- container-fluid -->
            </div>